* {
    font-family: monospace, Arial, Helvetica, sans-serif;
    margin: 0;
}
html {
    scroll-behavior: smooth;
    
}
.navbar-band > img {
    min-width:70px !important;
    min-width: 70px !important;
}
a {
    text-decoration: none;
}
.top-nav {
    min-height: 60vh;
    background: linear-gradient(90deg, #1919de, #00d4ff);
    background: url(./assets/3d1.jpg) no-repeat center center;
    background-size: cover;
    
}
a.nav-link{
    font-weight: bold;
    color: #efebec !important;
    letter-spacing: 0.1em;
    padding: 20px !important;
    font-size: 18px !important;
}

a.nav-link:hover {
    background:#6b1a1e;
    /*color: #6b1a1e !important;*/
}

.row {
    color: #efebec !important;
}

.sec-title {
    border-bottom: #a60e15 solid 10px;
    width: 220px;   
}
#skills {
    background:#eceeed;
    min-height: 50vh;
}

#about {
    background:#eceeed;
    min-height: 50vh;
}

.projects {
    background: #44576e;
}

.links a i{
    font-size: 2rem!important;
    color: #6b1a1e;
}
.links i:hover {
    color: #0d6efd;
}
.contact-icons {
    min-height: 30vh;
}
.icons {
    /*display: flex;
    justify-content: center;
    font-size: 3rem;*/
    font-size: 2rem;
}
.icons i {
    padding: 0px 20px 20px;
    color: #6b1a1e;
}
.icons a i:hover {
    color: #0d6efd;
}

#contact {
    background:#eceeed;
}
footer {
    background: #2e394d;
    position: relative;
}

.up {
    position: absolute;
    right: 10px;
    top: -20px;
    width: 50px;
    height: 30px;
    background: white;
    color: black;
    font-style: 2rem;
    border: black solid 1px;

    display: flex;
    justify-content: center;
    align-items: center;

}
